---

---

<section>
    <footer class="w-full bg-amarillo text-blanco min-h-10 flex justify-center items-center">
        <p class="lg:text-base text-[10px] w-3/4 text-center font-light">Copyright © 2022. All rights reserved | Designed and developed by Luciano Colombero.</p>
    </footer>
</section>